.maplibregl-ctrl-group {
  margin-top: 50px !important;
}

.draw-circle-button {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 10px;

  background-color: #fff;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 29px;
  outline: none;
  padding: 0;
  width: 29px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.draw-circle-button:hover {
  background-color: #eeeaea;
}

.maplibregl-canvas {
  cursor: default !important;
}

/* .maplibregl-ctrl-bottom-right {
  display: none;
}

.maplibregl-control-container {
  display: none;
} */
